<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/762c79917a.js" crossorigin="anonymous"></script>
    <title>Webshop Cart</title>
</head>

<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <img src="/media/icon.svg">
            <li><a href="/#banner1">Home</a></li>
            <li><a href="/#xphone">XPhone Orp</a></li>
            <li><a href="/#shop">Shop</a></li>
        </ul>
    </nav>
    <!-- Shopping Cart -->
    <div class="bg-light">
        <h1 class="text-center">Shopping cart</h1>
        <div class="card-grid-container">
            <div class="cart-card">
                <% if (dataContext.cartMatrix) { %>
                <% for (let matrixItem of dataContext.cartMatrix){ %>
                <div class="cart-item">
                    <div class="cart-item-info">
                        <img class="cart-item-thumb" src="data:image/png;base64, <%= matrixItem.ArticlePicture %>">
                        <h3 class="cart-item-title"><%= matrixItem.ArticleTitle %></h3>
                        <h6 class="cart-item-Id"><%= matrixItem.ArticleId %></h6>
                    </div>
                    <div class="price">
                        <p>CHF<%= matrixItem.ArticlePrice %></p>
                    </div>
                    <div class="article-input-group mb-3">
                        <button value="<%=matrixItem.ArticleId%>"
                            class="btn btn btn-primary btn-lg text-white font-16 border-0 btn-sub decrementor"
                            onclick="addToCart('<%=matrixItem.ArticleId%>')"><i class="fas fa-minus"></i>
                        </button>
                        <input id="article-counter-<%=matrixItem.ArticleId%>" class="article-counter" type="number"
                            min="1" value="<%=matrixItem.Amount%>" />
                        <button class="btn btn btn-primary btn-lg text-white font-16 border-0 btn-sub incrementor"
                            onclick="addToCart('<%=matrixItem.ArticleId%>')"
                            id="incrementor-<%= matrixItem.ArticleId %>"> <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <% } %>
                <% if (!dataContext.cartMatrix === undefined || !dataContext.cartMatrix.length == 0) {%>
                <div class="checkout">
                    <button class="btn btn btn-primary btn-lg text-white font-16 border-0 btn-sub">
                        <a href="/checkout">Checkout</a>
                    </button>
                    <h1>Total: <span id='lblCartCount'>CHF </span></h1>
                </div>
                <% } %>
                <% } if (dataContext.cartMatrix === undefined || dataContext.cartMatrix.length == 0) {%>
                <h1>Your Shopping Cart is empty!</h1>
                <% } %>
            </div>
        </div>
    </div>
    <!-- Shopping Cart End -->
    <!-- About Us Start -->
    <a id="aboutus" />
    <div class="mt-5 pt-5 pb-5 footer bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xs-12 about-company">
                    <h2>We are a new Startup</h2>
                    <p class="pr-5 text-white-50">That makes niche Smartphones for the future </p>
                </div>
                <div class="col-lg-4 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                    <p>22 Republic Avenue <br> Pretoria 81 <br> Republic of South Africa</p>
                    <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
                    <p><i class="fa fa-envelope-o mr-3"></i>info@xphone.tech</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col copyright">
                    <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us End -->

    <script src="/js/app.js"></script>
</body>

</html>