<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/762c79917a.js" crossorigin="anonymous"></script>
    <title>Webshop</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img id="navbar-icon" src="/media/icon.svg" alt=""></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#xphone">XPhone</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutus">About Us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> <i
                                class="fas fa-shopping-cart"></i>

                            Shopping Cart
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero -->
    <div class="bg-light">
        <div id="banner1" class="banner py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 align-self-center">
                        <h2 class="title my-3 font-weight-bold">The new XPhone Orp!</h2>
                        <p class="mt-4 mb-3">To accomplish great things, we must not only act, but also dream; not only
                            plan, but also believe.</p>
                        <div class="mt-4">
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <a class="btn btn btn-primary btn-lg text-white font-16 border-0 btn-sub"
                                        href="#shop">Shop Now</a>
                                    <a class="btn btn btn-primary btn-lg text-white font-16 border-0 btn-sub"
                                        href="#xphone">More Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 align-self-end justify-content-end">
                        <img id="heropic" src="media/XPhone.png" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero end -->
        <!-- About Xphone Start -->
        <div class="bg-dark">
            <div class="row">
                <div class="d-flex align-self-center justify-content-center">
                    <h1 class="title my-3 font-weight-bold text-white">XPhone Orp&#8482;</h1>
                    <a id="xphone"></a>
                </div>
                <div class="p-5 col-md-6 col-lg-6">
                    <img id="heropic" src="media/XPhone.png" />
                </div>
                <div class="p-5 col-md-6 col-lg-6 text-white">
                    <h1 class="p2">The brand new XPhone Orp</h1>
                    <h2 class="p2">Exactly like the old one but this time with more clout.</h2>
                    <h2>Specsheet</h2>
                    <h3>Kryptonite&#8482; Mk. XII Comet Hexaquadrillion Core Processor</h3>
                    <h3>Infinity&#8482; Mk. V Apollo GPU with 128 CUDA Cores</h3>
                    <h3>69.42 MP Camera Sensor</h3>
                    <h3>128/256/512GB Storage</h3>
                    <h3>16/32/64GB RAM</h3>
                    <h3>Just buy it already!</h3>
                    <h6>You know you want to!</h6>
                </div>
            </div>
        </div>
        <!-- About Xphone end -->
        <!-- Shop Start -->
        <a id="shop" />
        <div class="bg-light">
            <div class="card-grid-container">
                <% for (let article of articles){ %>
                <div class="m-5 card">
                    <a class="img-card" href="#">
                        <img src="/media/XPhone.png">
                    </a>
                    <div class="card-content">
                        <h4 class="card-title">
                            <a href="#"> <%= article.ArticleTitle %> </a>
                        </h4>
                        <p><%= article.ArticleDescription %></p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <button class="btn btn btn-primary btn-lg text-white font-16 border-0 btn-sub"
                                        value="<%= article.ArticleId %>" type="submit"> <i class="fas fa-cart-plus"></i>
                                    </button>
                                    <a class="btn btn btn-primary btn-lg text-white font-16 border-0 btn-sub"
                                        href="/ArticleDetail/<%= article.ArticleId %>"><i class="fas fa-eye"></i>
                                </a>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <h3 class="price">CHF <%= article.ArticlePrice %></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- Shop End -->
    <!-- About Us Start -->
    <a id="aboutus" />
    <div class="mt-5 pt-5 pb-5 footer bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xs-12 about-company">
                    <h2>We are a new Startup</h2>
                    <p class="pr-5 text-white-50">That makes niche Smartphones for the future </p>
                </div>
                <div class="col-lg-4 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                    <p>22 Republic Avenue <br> Pretoria 81 <br> Republic of South Africa</p>
                    <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
                    <p><i class="fa fa-envelope-o mr-3"></i>info@xphone.tech</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col copyright">
                    <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us End -->

    <script src="js/app.js" />
    </body>
</html>